.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}


button{
  background-color: rgb(53, 52, 52);
  color: white;
  border: 1px solid white;
  font-size: 20px;
  padding: 10px;
  width: 20%;
  border-radius: 10px;
  margin-top: 10px;
}
.animal-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
button:hover{
  color: black;
  background-color: white;
  border:1px solid black;

}
header {font-size: 3em;
  text-shadow: 3px 1px 5px yellowgreen;
  color: yellowgreen;
  height: 120px;
  width: 100vw;
  background-color: blueviolet;
}
p{
  font-size:small;
  color:white;
  text-shadow: 15px 5px 10px  white;
}
.application{
  position:absolute;
  top:22px;
  right:0%;
  color:red
}